/* centering Yelpington title */
h1 {
  text-align: center;
}

/* Navbar styling */
#navBar {
  display: flex;
  justify-content: space-around;
  background-color: coral;
}

/* Nav buttons styling */
button {
  background-color: aquamarine;
  color: black;
}
